.detail-panel {
  height: 100%;
}

.detail-panel__photos {
  display: block;
  width: 100%;
}

.detail-panel__photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-panel__info {
  padding: 20px;
}

.detail-panel__info .ratingStars {
  display: inline-flex;
  align-items: center;
  vertical-align: text-bottom;
  margin: 0 2px;
}

