.tileContainer {
  border-bottom: #c4b7a6 1px solid;
  padding: 10px 5px;
}

.tileContainer.selected {
  background-color: #04aa6d;
  color: white;
}

.tileContainer.hover {
  background-color: #d9eee1;
}

.tileContainer:hover {
  cursor: pointer;
}

.tileContainer .ratingStars {
  display: inline-flex;
  align-items: center;
  vertical-align: text-bottom;
  margin: 0 2px;
}
