.tileContainer {
  border-bottom: #c4b7a6 1px solid;
  padding: 10px 0;
}

.tileContainer.selected {
  background-color: #04aa6d;
  color: white;
}

.tileContainer.hover {
  background-color: #d6cbd3;
}

.tileContainer:hover {
  cursor: pointer;
}
