/***GENERAL***/
button {
  background: transparent;
  border-radius: 0;
  border: 0;
  font: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0;
  vertical-align: baseline;
}

.fontBodyMedium {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.00625rem;
  line-height: 1.25rem;
  color: #5e5e5e;
}

.fontHeadlineSmall {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0rem;
  line-height: 1.25rem;
}
